In [6]:
import pandas as pd

In [7]:
movies = pd.read_csv('movies.csv')
credits = pd.read_csv('credits.csv')

In [8]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [9]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
print(movies.columns)
print(credits.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [11]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [12]:
""" Merge Both Datasets
Notice →
movies has → id
credits has → movie_id

But both = same thing."""

movies = movies.merge(credits, left_on="id", right_on="movie_id")

In [13]:
movies.shape

(4803, 24)

In [14]:
"""Decide Final Columns for Recommendation Engine
We only need:
→ Title
→ Genres
→ Overview
→ Keywords
→ Cast
→ Crew
Create New Dataframe with only these: Clean & powerful.

After merging, movies has:
title_x → From movies.csv
title_y → From credits.csv
That's why it said → No title column.
Solution → Use title_x (we want from movies.csv)
"""

movies = movies[['id','title_x','genres','overview','keywords','cast','crew']]

In [15]:
movies.isnull().sum()

id          0
title_x     0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
"""Only overview has 3 null values → we can drop them easily."""
movies = movies.dropna()
movies.head()

,id,title_x,genres,overview,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
movies= movies.drop_duplicates()
movies = movies.reset_index(drop=True)
movies = movies.rename(columns={'title_x':'title'})

In [38]:
"""NLP CLEANING of genres, keywords, cast, crew as we only want genres"""

"""An entry in genre and keyword looks like :
[{"id": 28, "name": "Action"}, {"id": 12, "nam...

We need only names"""

#function to extract only names
import ast

def extract_names(text):
    data = literal_eval(text)
    temp = ""

    for i in data:
        temp += i['name'] + " "

    return temp.strip()


movies['genres'] = movies['genres'].apply(extract_names)
movies['keywords'] = movies['keywords'].apply(extract_names)

In [40]:
"""For cast entry:
[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0},
{"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1},
{"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2},
....

We only need Top 3 Actors"""

#function to get top 3 actores
def extract_cast(text):
    genre = literal_eval(text)
    temp = ""

    for i in genre:
        temp += i['name'] + " "

    return temp.strip()

movies['cast'] = movies['cast'].apply(extract_cast)

In [19]:
"""Similarly  For crew → Only Director's name"""

#function go get director
from ast import literal_eval

def extract_director(text):
    crew = literal_eval(text)
    temp = ""

    for i in crew:
        if i['job'] == 'Director':
            temp += i['name'] + " "

    return temp.strip()



movies['crew'] = movies['crew'].apply(extract_director)

In [45]:
movies.head()

,id,title,genres,overview,keywords,cast,crew,tags
0,19995,Avatar,Action Adventure Fantasy Science Fiction,"In the 22nd century, a paraplegic Marine is di...",culture clash future space war space colony so...,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron,A c t i o n A d v e n t u r e F a n t a s ...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,"Captain Barbossa, long believed to be dead, ha...",ocean drug abuse exotic island east india trad...,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski,A d v e n t u r e F a n t a s y A c t i o ...
2,206647,Spectre,Action Adventure Crime,A cryptic message from Bond’s past sends him o...,spy based on novel secret agent sequel mi6 bri...,Daniel Craig Christoph Waltz Léa Seydoux Ralph...,Sam Mendes,A c t i o n A d v e n t u r e C r i m e A ...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller,Following the death of District Attorney Harve...,dc comics crime fighter terrorist secret ident...,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan,A c t i o n C r i m e D r a m a T h r i ...
4,49529,John Carter,Action Adventure Science Fiction,"John Carter is a war-weary, former military ca...",based on novel mars medallion space travel pri...,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton,A c t i o n A d v e n t u r e S c i e n c ...

In [51]:
# combine all useful info into 'tags'


#movies['tags'] = movies['genres'].apply(lambda x: " ".join(x)) + " " + movies['overview'] + " " + movies['keywords'].apply(lambda x: " ".join(x)) + " " + movies['cast'].apply(lambda x: " ".join(x)) + " " + movies['crew']
movies['tags'] = movies['genres'] + " " + \
                 movies['overview'] + " " + \
                 movies['keywords'] + " " + \
                 movies['cast'] + " " + \
                 movies['crew']
"""trying to add/concatenate →
→ Strings + Lists → Not allowed directly.
overview → is a string
But → genres, keywords, cast, crew → are lists of words like:['Action', 'Adventure', 'Fantasy']

So use .apply(lambda x: " ".join(x))
It becomes:
Action Adventure Fantasy
"""

'trying to add/concatenate →\n→ Strings + Lists → Not allowed directly.\noverview → is a string\nBut → genres, keywords, cast, crew → are lists of words like:[\'Action\', \'Adventure\', \'Fantasy\']\n\nSo use .apply(lambda x: " ".join(x))\nIt becomes:\nAction Adventure Fantasy\n'

In [52]:
movies[['title','tags']].head()

,title,tags
0,Avatar,Action Adventure Fantasy Science Fiction In th...
1,Pirates of the Caribbean: At World's End,"Adventure Fantasy Action Captain Barbossa, lon..."
2,Spectre,Action Adventure Crime A cryptic message from ...
3,The Dark Knight Rises,Action Crime Drama Thriller Following the deat...
4,John Carter,Action Adventure Science Fiction John Carter i...

In [53]:
print(movies['tags'][100])

Fantasy Drama Thriller Mystery Romance Tells the story of Benjamin Button, a man who starts aging backwards with bizarre consequences. diary navy funeral tea travel hospital Cate Blanchett Brad Pitt Tilda Swinton Julia Ormond Elle Fanning Madisen Beaty Jason Flemyng Elias Koteas Taraji P. Henson Josh Stewart Faune A. Chambers Donna DuPlantier Jacob Tolano Ed Metzger Danny Vinson David Jensen Joeanna Sayler Rus Blackwell Mahershala Ali Adrian Armas Phyllis Somerville Lance E. Nichols David Ross Paterson Fiona Hale Marion Zinser Edith Ivey Patrick Thomas O'Brien Ted Manson Clay Cullen Peter Donald Badalamenti II Paula Gray Jared Harris Earl Maddox Bianca Chiminello Emma Degerstedt Megan Brown Clay Chamberlin David Fincher

In [54]:
n=4567
print(movies['title'][n],":",movies['tags'][n] )

42nd Street : Music Comedy Romance A producer puts on what may be his last Broadway show, and at the last moment a chorus girl has to replace the star. philadelphia musical stage show director broken ankle chorus line pet dog broadway fainting chorus girl opening night crutch theatrical backer eviction show producer chorine plaster cast show must go on financial crisis sock on the jaw Warner Baxter Bebe Daniels George Brent Ruby Keeler Guy Kibbee Una Merkel Ginger Rogers Ned Sparks Dick Powell Allen Jenkins Edward Nugent Robert McWade George E. Stone Toby Wing Louise Beavers Charles Lane Wallis Clark Tom Kennedy Harry Akst George Irving Clarence Nordstrum Jack La Rue Henry B. Walthall Jayne Shadduck Lyle Talbot Dorothy Coonan Wellman Lloyd Bacon

In [25]:
#Required for NLP Kitchen
!pip install nltk

Requirement already satisfied: nltk in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [55]:
"""NLP KITCHEN"""

#Step 1: Stemming- cutting words to roots / cleaning tags

from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

def stem(text):
    L = []
    for word in text.split():
        L.append(ps.stem(word))
    return " ".join(L)

movies['tags'] = movies['tags'].apply(lambda x:x.lower())
movies['tags'] = movies['tags'].apply(stem)

In [56]:
print(movies['tags'][4567])

music comedi romanc a produc put on what may be hi last broadway show, and at the last moment a choru girl ha to replac the star. philadelphia music stage show director broken ankl choru line pet dog broadway faint choru girl open night crutch theatric backer evict show produc chorin plaster cast show must go on financi crisi sock on the jaw warner baxter bebe daniel georg brent rubi keeler guy kibbe una merkel ginger roger ned spark dick powel allen jenkin edward nugent robert mcwade georg e. stone tobi wing louis beaver charl lane walli clark tom kennedi harri akst georg irv clarenc nordstrum jack la rue henri b. walthal jayn shadduck lyle talbot dorothi coonan wellman lloyd bacon

In [28]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\tanya batra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)

In [62]:
#Step 2 : Count VEctorization - convert the text in tags to numbers
# so it can be easily understood by ML

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 7000, stop_words = 'english')
#ONLY MOST FREQUENT 5000 FEATURES - cut the noise, keep the taste

vectors = cv.fit_transform(movies['tags']).toarray()

#This is the Vocabulary of entire tags column after vectorization!
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zucker', 'zwick', 'åkerman'],
      dtype=object)

In [63]:
print(vectors[999])

[0 0 0 ... 0 0 0]

In [64]:
#Step 3 : RECOMMENDER : Cosine Similarity
#We useCosine similarity to calculate how similar two movies, ie, theor vectors are
#Based on this we can recommend similar movies

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#Similarity Mtrix - check pairing of movies
similarity = cosine_similarity(vectors)

#Recommend movie
def recommend(movie):
    movie = movie.lower()
    if movie not in movies['title'].str.lower().values:
        print("Movie not found in Database")
        return
    idx = movies[movies['title'].str.lower() == movie].index[0]
    distances = list(enumerate(similarity[idx]))
    movies_list = sorted(distances, key=lambda x:x[1],reverse=True)[1:11]

    print("\nYour Top Recommendations are:")
    for i in movies_list:
        print(movies.iloc[i[0]].title)

recommend('Lost in Translation')

Your Top Recommendations are:
Bon voyage
Along the Roadside
The Sleepwalker
Glitter
Maid in Manhattan
The Dead Girl
Middle of Nowhere
I Love Your Work
Danny Collins
Aroused

In [65]:
recommend('Rang de basanti')

Your Top Recommendations are:
Namastey London
The Namesake
Paa
Partition
Veer-Zaara
Just Looking
ABCD (Any Body Can Dance)
Letters to God
The Mudge Boy
Dear Frankie

In [66]:
import pickle

print("Saving Movies...")
pickle.dump(movies, open('movies.pkl', 'wb'))
print("Movies Saved!")

print("Saving Similarity Matrix... (This may take time)")
pickle.dump(similarity, open('similarity.pkl', 'wb'))
print("Similarity Saved! Done!")

Saving Movies...
Movies Saved!
Saving Similarity Matrix... (This may take time)
Similarity Saved! Done!